* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter var", sans-serif;
  /*font-family: "Poppins", sans-serif;
  border: 1px solid red; */
}

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

.App {
  text-align: center;
  padding-top: 2rem;
}

#profile__img {
  background-color: purple;
  border-radius: 50%;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #282c34;
}

button {
  width: 75%;
  padding: 1.5rem 0;
  text-decoration: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1.5rem;
  border-radius: 5px;
  background-color: #eaecf0;
  cursor: pointer;
}

button:hover {
  background-color: #d0d5dd;
}

.Slack-Name {
  display: none;
}

.Twitter-Name {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Social-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
  margin-top: 2rem;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  margin-bottom: 1rem;
}

footer p {
  font-size: 15px;
  color: #667085;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: left;
    padding: 15px 25px;
  }

  .Zuri-icon,
  footer p {
    margin-bottom: 1rem;
  }

  footer img {
    width: 30%;
  }

  button {
    width: 90%;
  }
}
